@font-face {
  font-family: Aquire;
  src: url(/AquireBold-8Ma60.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --input-bg: #374151;
  --input-bg-hover: #1F2937;
  --input-text: #E5E7EB;
  --input-bg-focus: #111827;
  --input-border-color: #6B7280;
}

html {
  --input-bg-hover: #deebff;
  --input-bg-focus: #b2d4ff;
  --input-border-color: #ccc;
}

* {
  transition: background-color .2s ease;
}

.pretty-input {
  @apply w-full appearance-none my-3 border-solid border border-input hover:border-input-darken rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring dark:text-gray-50 dark:bg-gray-700 dark:border-gray-500 dark:hover:border-input-darkhover;
}
