@font-face {
  font-family: Aquire;
  src: url(/AquireBold-8Ma60.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --input-bg: #374151;
  --input-bg-hover: #1F2937;
  --input-text: #E5E7EB;
  --input-bg-focus: #111827;
  --input-border-color: #6B7280;
}

html {
  --input-bg-hover: #deebff;
  --input-bg-focus: #b2d4ff;
  --input-border-color: #ccc;
}

* {
  transition: background-color .2s ease;
}

.pretty-input {
  @apply w-full appearance-none my-3 border border-solid rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none dark:text-gray-50 dark:bg-gray-700;
}

.pretty-input.error {
  @apply border-red-500;
}

.pretty-input:not(.error) {
  @apply border-input dark:border-gray-500 dark:hover:border-input-darkhover hover:border-input-darken focus:ring;
}

.error {
  --input-border-color: rgb(239, 68, 68);
}
